{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      <li>
          Priority:
          {% if task.priority == 'high' %}
              <span class="high-priority">高</span>
          {% elif task.priority == 'medium' %}
              <span class="medium-priority">中</span>
          {% else %} {# task.priority == 'low' #}
              <span class="low-priority">低</span>
          {% endif %}
      </li>
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>
      | <a href="{% url 'update' task.id %}">Edit</a>
      | <a href="{% url 'delete' task.id %}">Delete</a>
      | <a href="{% url 'close' task.id %}">Close</a>
    </div>
  </body>

</html>