{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/detail.css' %}">
  </head>

  <body>
    <div id="display">
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      <li>
          Priority:
          {% if task.priority == '3' %}
              <span class="high-priority">高</span>
          {% elif task.priority == '2' %}
              <span class="medium-priority">中</span>
          {% else %}
              <span class="low-priority">低</span>
          {% endif %}
      </li>
      {% if task.comment %}
      <li>Comment: <br><div style="margin-left: 20px; white-space: pre-wrap;">{{ task.comment }}</div></li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>
    </div>

    <h2>〈メモ〉</h2>
    <form method="post">
        {% csrf_token %}
        <div>
          <textarea name="memo" rows="5" cols="40" placeholder="課題のメモ">{{ task.memo }}</textarea><br>
          <button type="submit">保存</button>
        </div>
    </form>

    <div class="links">
      <a href="{% url 'index' %}">Top</a>
      | <a href="{% url 'update' task.id %}">Edit</a>
      | <a href="{% url 'delete' task.id %}">Delete</a>
      | {% if task.completed %}
          <a href="{% url 'complete' task.id %}">Mark as Not Completed</a>
        {% else %}
          <a href="{% url 'complete' task.id %}">Mark as Completed</a>
        {% endif %}
    </div>
  </body>

</html>