{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/edit.css' %}">
  </head>

  <body>
    <h1>Edit task</h1>
    <p>You can edit tasks from the following form.</p>
    <form action="{% url 'update' task.id%}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <label for="commentInput">Comment</label><br>
        <textarea id="commentInput" name="comment" rows="3">{{ task.comment|default_if_none:'' }}</textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>
  </body>

</html>