{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD"> 
    <link rel="stylesheet" href="{% static 'todo/css/index.css' %}">
  </head>

  <body>
    <h1>Sample To Do Application</h1>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post" class="main-form">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>

    <p>You can search tasks with the following form.</p>
    <form action="{% url 'index' %}" method="get" class="main-form">
      <div>
        <input type="hidden" name="filter" value="{{ request.GET.filter | default:'' }}">
        <input type="hidden" name="order" value="{{ request.GET.order | default:'' }}">
        <label>Keyword:</label>
        <input type="text" name="q" placeholder="Search tasks...">
      </div>
      <div>
        <button type="submit">Search</button>
      </div>
    </form>

    <div id="div-sort">
      <div>
        Sort: 
        <a href="{% url 'index' %}?order=due&filter={{ request.GET.filter | default:'' }}&q={{ request.GET.q | default:'' }}" class="hover-a-ex">By Due Date</a> |
        <a href="{% url 'index' %}?order=post&filter={{ request.GET.filter | default:'' }}&q={{ request.GET.q | default:'' }}" class="hover-a-ex">By Posted Date</a> |
        <a href="{% url 'index' %}?order=priority&filter={{ request.GET.filter | default:'' }}&q={{ request.GET.q | default:'' }}" class="hover-a-ex">By Priority</a>
      </div>
      <div>
        Filter: 
        <a href="{% url 'index' %}?filter=&order={{ request.GET.order | default:'' }}&q={{ request.GET.q | default:'' }}" class="hover-a-ex">All</a> |
        <a href="{% url 'index' %}?filter=incomplete&order={{ request.GET.order | default:'' }}&q={{ request.GET.q | default:'' }}" class="hover-a-ex">Not complete</a> |
        <a href="{% url 'index' %}?filter=complete&order={{ request.GET.order | default:'' }}&q={{ request.GET.q | default:'' }}" class="hover-a-ex">Complete</a>
      </div>
    </div>

    {% for task in tasks %}
    <div class="text {% if task.completed %}completed-task{% endif %}">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at|date:"Y-m-d H:i" }}</li>
        {% if task.due_at %} 
        <li>Due at: {{ task.due_at|date:"Y-m-d H:i" }}</li>
        {% endif %}
        {% if task.comment %}
        <!-- コメントの表示文字数変更はここ-->
        <li>Comment: {{ task.comment|truncatechars:40 }}</li>
        {% endif %}
        <li>
            Priority:
            {% if task.priority == '3' %}
                <span class="high-priority">高</span>
            {% elif task.priority == '2' %}
                <span class="medium-priority">中</span>
            {% else %}
                <span class="low-priority">低</span>
            {% endif %}
        </li>
        <li>
        Status: 
        {% if task.completed %}
          Completed
          <form action="{% url 'complete' task.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Undo</button>
          </form>
        {% else %}
          Not Completed
          <form action="{% url 'complete' task.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Complete</button>
          </form>
        {% endif %}
      </li>
      </ul>
    </div>
    {% endfor %}
  </body>

</html>