{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>

  <body>
    <h1>Sample To Do Application</h1>
    <p>You can submit tasks from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title" required>
      </div>
      <div>
        <label for="dueInput">Due at:</label><br>
        <input id="dueInput" name="due_at" type="datetime-local">
      </div>
      <div>
        <label for="commentInput">Comment</label><br>
        <textarea id="commentInput" name="comment" rows="3" placeholder="Add a comment..."></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>

    <form action="{% url 'index' %}" method="get">
      <input type="hidden" name="filter" value="{{ request.GET.filter | default:'' }}">
      <input type="hidden" name="order" value="{{ request.GET.order | default:'' }}">
      <input type="text" name="q" placeholder="Search tasks...">
      <button type="submit">Search</button>
    </form>
    <div>
      Sort: 
      <a href="{% url 'index' %}?order=due&filter={{ request.GET.filter | default:'' }}&q={{ request.GET.q | default:'' }}">By Due Date</a> |
      <a href="{% url 'index' %}?order=post&filter={{ request.GET.filter | default:'' }}&q={{ request.GET.q | default:'' }}">By Posted Date</a>
    </div>
    <div>
      Filter: 
      <a href="{% url 'index' %}?filter=&order={{ request.GET.order | default:'' }}&q={{ request.GET.q | default:'' }}">All</a> |
      <a href="{% url 'index' %}?filter=incomplete&order={{ request.GET.order | default:'' }}&q={{ request.GET.q | default:'' }}">Not complete</a> |
      <a href="{% url 'index' %}?filter=complete&order={{ request.GET.order | default:'' }}&q={{ request.GET.q | default:'' }}">Complete</a>
    </div>

    {% for task in tasks %}
    <div class="text {% if task.completed %}completed-task{% endif %}">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at|date:"Y-m-d H:i" }}</li>
        {% if task.due_at %} 
        <li>Due at: {{ task.due_at|date:"Y-m-d H:i" }}</li>
        {% endif %}
        {% if task.comment %}
        <!-- コメントの表示文字数変更はここ-->
        <li>Comment: {{ task.comment|truncatechars:40 }}</li>
        {% endif %}
        {% if task.completed %} 
        <li>Status: Completed [<a href="{% url 'complete' task.id %}">Undo</a>]</li>
        {% else %}
        <li>Status: Not Completed [<a href="{% url 'complete' task.id %}">Complete</a>]</li>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </body>

</html>